.places__card-url-heading {
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.2em;
  color: #aaa;
}

@media screen and (max-width: 767px){
  .places__card-url-heading {
    position: absolute;
    display: none;
  }
}