.places__card {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-template-columns: 1fr 484px;
  gap: 48px 40px;
  margin-bottom: 80px;
}

.places__card:last-child {
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .places__card {
    grid-template-columns: 1fr 456px;
    gap: 48px 32px;
  }
}