.intro {
  width: 77%;
  margin-top: 97px;
}

@media screen and (max-width: 1279px) {
  .intro {
    width: 90.6vw;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    width: 93.8vw;
    margin-top: 93px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    width: 90vw;
    margin-top: 68px;
  }
}