.photo-grid__image {
  max-width: 284px;
  object-position: center;
  object-fit: cover;
}

@media screen and (max-width: 1279px) {
  .photo-grid__image {
    max-width: 29.3vw;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid__image {
    max-width: 45.8vw;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__image {
    max-width: 90vw;
  }
}